@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "alex";
  src: url("./assets/fonts/Alexandria/Alexandria-VariableFont_wght.ttf");
}
html[data-mode="dark"] {
  color-scheme: dark;
}

html ,body{
  font-family: "alex";
  scroll-behavior: smooth;
  height: 100dvh;
}
html[dir="rtl"] * {
  direction: rtl;
}
::selection {
  background-color: var(--dark);
  color: white;
}
:root {
  /* --dark: #454545; */
  --dark-gray: #797979;
  --light-blue: #59c4cd;
  --dark-blue: #284e7c;
  --dark: #252525;
  --darkEl: #353535;
  --light: #fff;
  --lightEl: #fafafa;
}
::-webkit-scrollbar {
  width: 5px;
  background-color: #0000;
}

::-webkit-scrollbar-thumb {
  background-color: var(--dark);
}
[tooltip] {
  position: relative;
}
[tooltip]:hover::after {
  opacity: 1;
}
html[data-mode="dark"] [tooltip]::after {
  background-color: var(--darkEl);
  color: #fff;
}

[tooltip]::after {
  user-select: none;
  pointer-events: none;
  text-transform: capitalize;
  opacity: 0;
  font-size: 10px;
  white-space: nowrap;
  color: #333;
  background-color: var(--lightEl);
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  content: attr(tooltip);
  z-index: 1;
  transform: translate(50%, 100%);
  top: 0%; /* Position above the text */
  left: -100%;

  transition: opacity 0.3s 0.3s;
}
